.footer {
    text-align: -webkit-center;
    min-height: 250px;
    background-color: var(--darkviolet);
}
.footer h3 {
    color: #fff;
    font-size: 31.98px;
    font-weight: 600;
    padding-top: 36px;
}
.footer h4 {
    color: #fff;
    font-weight: 600;
    padding-top: 36px;
}
.d-flex {
    place-content: center;
    display: flex!important;
}
.ms-3 {
    margin-left: 3rem!important;
}
.nav a:hover{
    color:var(--primary);
    background-color:var(--darkviolet);
}
     .nav li a{
        background-color:var(--darkviolet);
        color:#fff;
        font-size: 13.5px;
    } 
    .nav li a:hover{
    background-color:var(--darkviolet);
}
.link-dark img:hover {
    filter: invert(87%) sepia(29%) saturate(684%) hue-rotate(123deg) brightness(700%) contrast(98%);
}