
.NavMenu {
    margin-bottom: 32px;
    justify-content: center;
  }
  .NavMenu a {
    float:left;
    display: block;
    color: var(--grayish);
    text-align: center;
    font-weight: 700;
    margin-top: 24px;
  }
  .SBtn{
    float: right;
  }
  .SBtn a{
    float: right;
    color: var(--grayish);
    font-weight: 700;
    margin-top: 40px;
    margin-right: 16px;
  }
  .SBtn button{
    float: right;
    padding: 8px 24px;
    margin-top: 32px;
    margin-left: 16px;
  }
  .NavMenu a:hover {
    color: var(--darkviolet);
    text-decoration:none;
  }
  .NavMenu a.active {
    color: var(--darkviolet);
    text-decoration:none;
  }
  .NavMenu .Svg {
    padding-top: 36px;
   }
  .NavMenu .Icon {
    display: none;
  }
    @media screen and (max-width: 700px) {
    .NavMenu a {
      display: none;
    }
    .NavMenu button{
      display: none;
    }
    .SBtn button{
      display: none;
    }  
    .NavMenu a.Icon {
      float: right;
      display: block;
      background-color: rgb(255, 255, 255);
      margin-right: 32px;
    }
  }
  @media screen and (max-width: 700px) {
          .NavMenu {
        margin: 24px 24px 0px 24px;
      }
    .NavMenu.responsive button{
      display: block;
      margin: auto 0% auto 33%;
    }
    .NavMenu.responsive {
      position:relative;
      border-radius: 8px;
      background-color: var(--primarydark);
      text-align: center;
    }
    .ToggleIcon {
      position: absolute;
      font-size: 32px;
      margin-top: -24px;
    }
    .NavMenu.responsive a {
      float: none;
      display: block;
      background-color: var(--primarydark);
      color:var(--white);
      padding-bottom: 16px; 
      padding-top: 16px;
    }
    .NavMenu.responsive a:first-child {
      padding-top: 32px;
    }
    .NavMenu.responsive a:last-child {
      padding-bottom: 32px;;
    }
  }

